/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*==================== VARIABLES CSS ====================*/
:root {

    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 297; 

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --pink-claro: hsl(var(--hue-color), 70%, 97%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

b {
    margin-left: -4px;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: 15px;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin: 0 auto; 
  padding: 0 var(--mb-1-5); 
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--pink-claro);
    overflow: hidden;
    padding: 1.3rem 10%;
}


/*==================== NAV ====================*/

/* Style the header with a grey background and some padding */

.topnav {
    background-color: var(--pink-claro);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: var(--first-color);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.nav__logo {
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: var(--title-color);
  }

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
} 

/*==================== HOME ====================*/
.home__container {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home__content {
    padding-top: 3.5rem;
}

.home__social {
    grid-template-columns: max-content;
}

.home__blob {
    width: 200px;
    fill: var(--first-color);
}

.home__blob:hover {
    fill: var(--first-color-alt);
}

.home__blob-img {
    width: 185px;
}

.home__data {
    grid-column: 1/3;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
    max-width: 550px;

}

.home__title {
    margin-top: 1rem;
}

.home__title::after {
    content: '|';
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .home__container {
        grid-template-columns: 1fr;
    }

    .home__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .home__social {
        text-align: center;
    }

    .home__blob {
        width: 150px;
        margin-top: 2rem;
    }
}

/* Estilos para telas médias e grandes (desktop) */
@media screen and (min-width: 769px) {
    .home__content {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: start;
    }

    .home__blob {
        justify-self: end; 
        margin-top: 0; 
    }
}

/*==================== BUTTONS ====================*/
.button {
    display: inline;
    background-color: var(--first-color);
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    text-decoration: none;
    border: none;
}

.button a {
    color: #fff;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button a:hover {
    text-decoration: none;
    color: currentColor;
}

.button-flex {
    display: inline-flex;
    align-items: center;
}

/*==================== ABOUT ====================*/
.about__img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
     margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color)
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

.about__buttons a {
    text-decoration: none;
    color: currentColor;
}



/*==================== SKILLS ====================*/

.skills__container {
    row-gap: 0;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color:var(--first-color)
}

.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light)
}

.skills__arrow {
    margin-left: auto;
    transition: .4s;
}

.skills__list {
    row-gap: 1.5rem;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills__bar {
    background-color: #f8ecf9;
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.skills__html {
    width: 90%;
}

.skills__css {
    width: 70%;
}

.skills__js {
    width: 50%;
}

.skills__angular {
    width: 50%;
}

.skills__ts {
    width: 30%;
}

.skills__git {
    width: 40%;
}

.skills__comunicacao {
    width: 90%;
}

.skills__colab {
    width: 80%;
}

.skills__flex {
    width: 80%;
}

.skills__resolution {
    width: 85%;
}

.skills__organizacao {
    width: 70%;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;

}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color)
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-1);
}

.qualification__rouder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}


/*==================== PORTFOLIO ====================*/

.portfolio__container {
    overflow: initial;
}

.portfolio__content {
    padding: 0 1.5rem;
}

.portfolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
    text-align: center;
}

.portfolio__button {
    max-width: 100px;
    align-content: center;

}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--first-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: -50px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: -50px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: pink;
  }
  
  /* Caption text */

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 1px;
    background-color: #FABEFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .portfolio__img {
    border-radius: 0.5rem;
    filter: grayscale(25%);
  }

  .portfolio__img:hover {
    filter: grayscale(0);
  }

  .active, .dot:hover {
    background-color: var(--first-color);
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/*==================== CONTACT ME ====================*/

.contact__container {
    row-gap: 3rem;
}

.contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content {
    background-color: var(--contact-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__label {
    font-size: var(--small-font-size);
    color: var(--title-coßlor);
}
/*==================== FOOTER ====================*/
.footer {
    padding: 2rem 1rem 3rem;
    background-color: var(--first-color-second);
}

.footer__love {
    font-size: var(--font-medium);
    text-align: center;
    color: #fff;
    margin-top: var(--mb-3);
}

.footer__rights {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: #fff;
}
