/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*==================== VARIABLES CSS ====================*/
:root {

    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 297; 

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --pink-claro: hsl(var(--hue-color), 70%, 97%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin: 0 auto; 
  padding: 0 var(--mb-1-5); 
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--pink-claro);
    overflow: hidden;
    background-color: var(--pink-claro);
    padding: 8px 10px;
}


/*==================== NAV ====================*/

/* Style the header with a grey background and some padding */

.nav__logo {
    width: 12ch;
    white-space: nowrap;
    overflow: hidden;
    animation: slide 2s;
    text-decoration: none;
    color: var(--title-color);
  }

  @keyframes slide {
    from {
      width: 0;
    }
  }

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);

} 

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  .header a:hover {
    color: var(--first-color);
    text-decoration: none;
  }

  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home__container {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home__content {
    padding-top: 3.5rem;
}

.home__social {
    grid-template-columns: max-content;
}

.home__blob {
    width: 200px;
    fill: var(--first-color);
}

.home__blob:hover {
    fill: var(--first-color-alt);
}

.home__blob-img {
    width: 185px;
}

.home__data {
    grid-column: 1/3;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
    max-width: 550px;

}

@media screen and (max-width: 768px) {
    .home__container {
        grid-template-columns: 1fr;
    }

    .home__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .home__social {
        text-align: center;
    }

    .home__blob {
        width: 150px;
        margin-top: 2rem;
    }

    .home__title {
        margin-top: 1rem;
    }
}

/* Estilos para telas médias e grandes (desktop) */
@media screen and (min-width: 769px) {
    .home__content {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: start;
    }

    .home__blob {
        justify-self: end; 
        margin-top: 0; 
    }
}

/*==================== BUTTONS ====================*/
.button {
    display: inline;
    background-color: var(--first-color);
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    text-decoration: none;
    border: none;
}

.button a {
    color: #fff;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button a:hover {
    text-decoration: none;
    color: currentColor;
}

.button-flex {
    display: inline-flex;
    align-items: center;
}

/*==================== ABOUT ====================*/
.about__img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
     margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color)
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

.about__buttons a {
    text-decoration: none;
    color: currentColor;
}



/*==================== SKILLS ====================*/

.skills__container {
    row-gap: 0;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color:var(--first-color)
}

.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light)
}

.skills__arrow {
    margin-left: auto;
    transition: .4s;
}

.skills__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills__bar {
    background-color: #f8ecf9;
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.skills__html {
    width: 90%;
}

.skills__css {
    width: 60%;
}

.skills__js {
    width: 60%;
}

.skills__angular {
    width: 60%;
}

.skills__ts {
    width: 30%;
}

.skills__ts {
    width: 30%;
}

.skills__git {
    width: 40%;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;

}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color)
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-1);
}

.qualification__rouder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block; 
}

/*==================== PORTFOLIO ====================*/


/*==================== CONTACT ME ====================*/

.contact__container {
    row-gap: 3rem;
}

.contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content {
    background-color: var(--contact-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__label {
    font-size: var(--small-font-size);
    color: var(--title-coßlor);
}
/*==================== FOOTER ====================*/
.footer {
    padding-top: 2rem;
}

.footer__container {
    row-gap: 3.5rem;
}

.footer__bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__love {
    font-size: var(--font-medium);
    text-align: center;
    color: #fff;
    margin-top: var(--mb-3);
}

.footer__rights {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: #fff;
}
